@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
body {
    font-family: 'Raleway', sans-serif;
}
.ProductList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 240px 4px 80px; 
}
#trolleyButton {
    position: absolute;
    width: 54px;
    height: 54px;
    border-radius: 25px;
    border: none;
    background: #5ECE78;
    top: 385px;
    left: 300px;
    cursor: pointer;
    display: none;
}
#plptrolley {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 5px;
    top: 8px;
}
.text-link{
   padding: 15px;
   text-decoration: none;
   color: #1D1F22;
   font-family: 'Raleway', sans-serif;
   font-style: normal;
   font-weight: 300;
   line-height: 160%;
   font-size: 24px;
   position: relative;
   width: 340px;
   top: -80px;
   margin: 50px;
}
.text-link:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}   

.text-link:hover > #trolleyButton {
   display: block;
}
img{
    width: 340px;
    height: 400px;
}
.Product-price {
    display: flex;
    padding: 0px;
    width: 80px;
    height: 29px;
    font-family: 'Raleway', sans-serif;
    font-weight: 1000;
    font-size: 15px;
    line-height: 160%;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.Category-name {
    position: absolute;
    width: 299px;
    height: 68px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #1D1F22;
    left:78px;
    top: 140px;
    text-transform: uppercase;
  }
