@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
.App { 
  margin: 2rem auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.Categories {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 68px;
  height: 56px;
  padding: 0px 4rem;
}
.Categories div {
  padding: 12px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  text-transform: uppercase;
}
.arrow {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  margin: 0px 4px 3px;
  font-size: 20px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.up{
  transform: rotate(-135deg);
   -webkit-transform: rotate(-135deg);
}
.custom-select  {
  position: relative;
  top: 0px;
  display: block;
  width: 100px;
  z-index: 1;
}
.dollarSign  {
  width: 33px;
  height: 22px ;
  border: none;
  padding: 5px;
  cursor: pointer;
}
.select{
  display: block;
  margin-top: 0px;
  padding: 6px 0px;
  cursor: pointer;
  color: #000000;
  border: none;
  font-size: 20px;
  font-weight: 800;
  position: absolute;
  max-height: 150px;
}
.select div{
  padding: 6px 5px 10px 15px
}
#trolley {
  width: 20px;
  height: 18px;
  flex: none;
  order: 3;
  flex-grow: 0;
  padding: 0px 3px 0px;
}
#numberOfItems {
  position: absolute;
  left: 92.7%;
  right: 6.31%;
  top: 0%;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  width: 26px;
  height: 20px;
  background-color: black;
  border-radius: 12px;
  border: none;
  opacity: 0.8;
}
.overlay{
  width: 325px;
  height: 677px;
  left: -250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 16px;
  gap: 32px;
  position: absolute;
  color: #ffffff;
  z-index: 5;
}
.actions {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px !important;
  margin-right: 0px;
  gap: 0px;
  position: relative;
  height: 40px;
  right: 2rem;
  top: -20px;
}

.label {
  position: absolute;
  width: 100px;
  height: 169px;
  left: -46px;
  right: 80px;
  top: 30px;
  cursor: pointer;
  max-height: 150px;
}
.label div:hover{
  background-color: #e5e5e5
}
.svg{
  width: 31.18px;
  height: 29.93px;
  position: absolute;
  top: -10px;
  left: -60px;
}
.svgArrow {
  position: absolute;
  width: 17px;
  height: 10px;
  top: -2px;
  left: -52px;
}