.App { 
  max-width: 80rem;
  margin: 3rem auto;
}

.Categories {
  display: flex;
  justify-content:flex-start;
  align-items: flex-start;
}

.Categories div {
  padding: 12px;
  cursor: pointer;
}

.Categories div:hover {
  color: rgb(14, 184, 14);
  text-decoration: underline;
  text-underline-offset: 7px;
}